body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  background-color: #2d425f;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.header .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.body1 {
  height: 500px;
  background-color: #2d425f;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.body1-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.body1-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.body1-left .title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.body1-left .text {
  font-size: 20px;
  color: white;
}

.body1-left button {
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
}

.body1-right .placeholder {
  background-color: gray;
  color: white;
  width: 600px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.body2 {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 50px 0;
  gap: 60px;
}

.body2 .title {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.body2 .cards {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 60px;
}

.body2 .card {
  display: flex;
  flex-direction: column;
}

.body2 .image {
  width: 200px;
  height: 200px;
  border: 4px solid blue;
  border-radius: 10px;
}

.body2 .description {
  display: flex;
  justify-content: center;
  width: 200px;
}

.body3 {
  display: flex;
  background-color: lightgrey;
  height: 400px;
  padding: 100px 200px;
  flex-direction: column;
  box-sizing: border-box;
  gap: 40px;
}

.body3 .quote {
  font-size: 30px;
}

.body3 .author {
  font-size: 30px;
  font-weight: bold;
  align-self: flex-end;
}

.body4 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.body4 .dialog {
  display: flex;
  background-color: #3882f6;
  align-items: center;
  height: 100px;
  padding: 50px 100px;
  border-radius: 10px;
  gap: 50px;
}

.body4 .text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body4 .title {
  font-size: 25px;
  font-weight: bold;
}

.body4 .description {
  font-size: 20px;
}

.body4 button {
  border: 2px solid white;
  background: transparent;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.body5 {
  display: flex;
  background-color: #2d425f;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
